/*
KOLORY W PROJEKCIE
1. PARCHMENT - #F7EFDA - rgb(247, 239, 218)
2. PISTACHIO - #BADD7F - rgb(186, 221, 127)
3. MELON - #EFACA5 - rgb(239, 172, 165)
4. FERN GREEN - #3E8440 - rgb(62, 132, 64)
*/
:root {
  --parchment: #f7efda;
  --pistachio: #badd7f;
  --melon: #efaca5;
  --fern-green: #3e8400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial,sans-serif;
  line-height: 1.5;
}

header{
  padding: 1rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
