/*
KOLORY W PROJEKCIE
1. PARCHMENT - #F7EFDA - rgb(247, 239, 218)
2. PISTACHIO - #BADD7F - rgb(186, 221, 127)
3. MELON - #EFACA5 - rgb(239, 172, 165)
4. FERN GREEN - #3E8440 - rgb(62, 132, 64)
*/
:root {
  --parchment: #f7efda;
  --pistachio: #badd7f;
  --melon: #efaca5;
  --fern-green: #3e8400;
}
